// Article: Cards
// -----------------------------------------------------------------------------

.page__right_sidebar .card {
  margin-bottom: 1rem;

  .card-text {
    margin-bottom: 1rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &.contact-item {
    border: 0;

    .card-header {
      @extend .bg-dark-gray;
      h2 {
        color: #fff;
        font-weight: bold;
        margin-bottom: 0;
      }
    }

    .card-body {
      @extend .bg-light;
    }
  }
}

.card-body {
  padding: 1.5rem;

  p:last-child {
    margin: 0;
  }
}
