/**
 * @file Styles for search page.
 */

@import "~bootstrap/scss/forms";

.path--search {
  // Search header.
  // -----------------------------------------------------------------------------
  #wcor-search-page-tabs {
    .nav {
      @extend .border-bottom, .border-2, .border-dark-gray, .mb-5;
      h3 {
        @extend .m-0;
      }
      .nav-link {
        @extend .px-0, .ps-4, .pe-4, .pb-3;
        color: map_get($theme-colors, "dark-gray");
        margin-bottom: -1px;
        &.active {
          @extend .border-bottom, .border-5, .border-dark-gray;
          color: map_get($theme-colors, "dark-gray");
          text-decoration: none;
        }
      }
    }
  }

  // Search results.
  // -----------------------------------------------------------------------------
  .view-acquia-search {
    .view-header {
      @extend .pb-5,
        .mb-5,
        .border-bottom,
        .border-2,
        .d-flex,
        .flex-wrap,
        .justify-content-between;

      #westy-search-active-facets {
        flex: 0 0 100%;
        a {
          @extend .btn, .bg-faded-blue, .p-3, .me-4;
        }
      }
    }

    .views-row {
      @extend .border-bottom, .border-2, .pb-5, .mb-5;
      h3 a,
      h3 a:hover {
        text-decoration: underline;
      }

      .views-field-type {
        @extend .badge, .bg-faded-green;
        color: map_get($theme-colors, "dark-gray");
        font-weight: normal;
        font-variant: normal !important;
        font-size: $font-size-base;

        em {
          font-style: normal;
        }
      }

      .views-row .views-field:last-of-type {
        @extend .mb-0;
      }
    }
  }

  // Search form.
  // -----------------------------------------------------------------------------
  .page__sub_header {
    @extend .bg-faded-light-blue;

    label,
    .block--westy-breadcrumbs,
    .form-item-sort-by,
    .form-item-sort-order,
    #edit-submit-acquia-search--2 {
      display: none;
    }

    .form-item-search {
      @extend .input-group;
    }

    .form-select-sm {
      width: auto;
    }

    .gg-submit {
      position: absolute;
      right: 1rem;
      top: 0.9rem;
      border: none;
      background: transparent;
    }

    #edit-search--2 {
      @extend .border, .border-2, .border-dark-gray;
    }

    #edit-reset--2 {
      @extend .float-end;
      color: map_get($theme-colors, "dark-gray");
      background: transparent !important;
      border: none;
      text-decoration: underline;
    }
  }

  // Search filters.
  // -----------------------------------------------------------------------------
  .block-facet--checkbox {
    @extend .border, .rounded, .mb-5;

    h3 {
      @extend .bg-dark-gray, .text-white, .p-3;
      margin: -1rem -1rem 1rem -1rem;
      font-size: $h4-font-size;
      font-weight: 400;
    }

    .facets-widget-checkbox {
      background: transparent;
      .facet-item {
        margin-bottom: 0.5rem;
        .facets-checkbox {
          margin-top: 0.1rem;
        }
      }
    }
  }
}
