body, html{
  font-family: acumin-pro, sans-serif;
}

// Headings in regions other than main content
// -----------------------------------------------------------------------------
.layout__region--menu,
.layout__region--side,
.page__left_sidebar,
.page__right_sidebar {
  h2 {
    font-size: $h4-font-size;
  }
  h3 {
    font-size: $h5-font-size;
  }
}
