// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and
// $modal-content-box-shadow-xs.

// To customize
// - Copy paste the variable from node_modules/bootstrap/scss/_variables.scss.
// - Change the value and remove the !default flag.
//
// e.g.
// $body-bg: #000;
// $body-color: $gray-100;

$navbar-padding-x: 1rem;

$grid-gutter-width: 3.5rem;

// Refine Bootstrap's margin-bottom.
$westy-margin-bottom: 1rem;
$headings-margin-bottom: $westy-margin-bottom;
$paragraph-margin-bottom: 1.25rem;
$legend-margin-bottom: $westy-margin-bottom;
$breadcrumb-margin-bottom: $westy-margin-bottom;
$alert-margin-bottom: $westy-margin-bottom;
$blockquote-margin-y: $westy-margin-bottom;
$form-label-margin-bottom: $westy-margin-bottom;
$form-check-margin-bottom: $westy-margin-bottom;

// Theme colors.
// -----------------------------------------------------------------------------
$theme-colors: (
  // Maintain Bootstrap's defaults.
  // primary: $primary,
  primary: #152e3a,
  // secondary: $secondary,
  secondary: #dee2e6,
  // success: $success,
  // info: $info,
  // warning: $warning,
  // danger: $danger,
  // light: $light,
  // dark: $dark,
  dark: #6c757d
);

$custom-colors: (
  // Additional colors for our theme.
  // PRIMARY PALETTE.
  blue: #0073a4,
  gold: #af8f6f,
  light-green: #b7c6bc,
  light-blue: #a1d6f8,
  deep-purple: #34153a,
  dark-red: #851618,
  dark-gray: #152e3a,
  // BACKGROUND PALETTE.
  faded-blue: #d0eafb,
  faded-gold: #f3eee9,
  faded-green: #e9eeeb,
  faded-light-blue: #ecf7fe,
  faded-purple: #efedf0,
  faded-red: #f3e7e7,
  faded-gray: #eef0f1,
  // SHERIFF"S OFFICE
  sheriff-black: #101921,
  sheriff-yellow: #ffb500,
  sheriff-blue: #005585,
  sheriff-purple: #642f71,
  sheriff-red: #c20019
);

// Merge the maps.
$theme-colors: map-merge($theme-colors, $custom-colors);
// Provide additional color for backgrounds, borders or utilities.
// $theme-colors-rgb: map-loop($theme-colors, to-rgb, "$value");
// $utilities-colors: map-merge($utilities-colors, $theme-colors-rgb);
// $utilities-text-colors: map-loop($utilities-colors, rgba-css-var, "$key", "text");
// $utilities-bg-colors: map-loop($utilities-colors, rgba-css-var, "$key", "bg");

$body-color: map_get($theme-colors, "primary");
$link-color: #0073a4;
$link-hover-color: #000000;
